/* Bismillah */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Define the custom font */
/* @font-face {
    font-family: 'MyCustomFont';
    src: url('../../green-grocer/src/assets/Font/SFPRODISPLAYBLACKITALIC.OTF') ,
         url(''),
         url(''),
         url('../../green-grocer/src/assets/Font/SFPRODISPLAYLIGHTITALIC.OTF'),
         url(''),
         url(''),
         url('../../green-grocer/src/assets/Font/SFPRODISPLAYSEMIBOLDITALIC.OTF'),
         url(''),
         ;
    font-weight: normal;
    font-style: normal;
} */

/* Regular */
@font-face {
    font-family: 'MyCustomFont';
    src: url('./assets/Font/SFPRODISPLAYREGULAR.OTF') format('truetype');
    font-weight: 400;
    font-style: normal;
    transform: translateX(20vh);
}

/* Regular */
@font-face {
    font-family: 'MyCustomFont';
    src: url('./assets/Font/SFPRODISPLAYMEDIUM.OTF') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'MyCustomFont';
    src: url('./assets/Font/SFPRODISPLAYBOLD.OTF') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'MyCustomFont';
    src: url('./assets/Font/SFPRODISPLAYTHINITALIC.OTF') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Bold Italic */
@font-face {
    font-family: 'MyCustomFont';
    src: url('./assets/Font/SFPRODISPLAYHEAVYITALIC.OTF') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Apply the font to elements */
body {
    font-family: 'MyCustomFont', sans-serif;
}

*{
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}


.custom-select {
    appearance: none;          /* Remove default arrow */
    -webkit-appearance: none;  /* For Safari */
    -moz-appearance: none;     /* For Firefox */
    background-color: #f0f0f0; /* Background color */
    padding: 10px;
    outline: 0;
    border-radius: 444px;
    padding-left: 20px;
    padding-right: 40px;
    color: #333;
    background-image: url('../src/assets/images/arrow-down-double-line.svg'); /* Custom icon */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Position the icon */
    background-size: 20px;
    width: 200px;
  }

  .custom-selecter {
    appearance: none;          /* Remove default arrow */
    -webkit-appearance: none;  /* For Safari */
    -moz-appearance: none;     /* For Firefox */
/* Background color */
    padding: 10px;
    outline: 0;
    border-radius: 444px;
    padding-left: 20px;
    padding-right: 40px;
    color: #333;
    background-image: url('../src/assets/images/arrow-down-double-line.svg'); /* Custom icon */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Position the icon */
    background-size: 20px;

  }

  .custom-selecto {
    appearance: none;          /* Remove default arrow */
    -webkit-appearance: none;  /* For Safari */
    -moz-appearance: none;     /* For Firefox */
/* Background color */
    padding: 10px;
    outline: 0;
    border-radius: 444px;
    padding-left: 20px;
    padding-right: 40px;
    background-image: url('../src/assets/images/arrow-down-double-line.svg'); /* Custom icon */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Position the icon */
    background-size: 20px;

  }

  .calistoga-regular {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lemon-regular {
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .price {
    background: -webkit-linear-gradient(#2b7b22, #5c8f31);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .h1 {
    background: -webkit-linear-gradient(#a0aa44, #4b4609);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }